.img-card-phone {
    position: absolute;
    top: 4vh;
    width: 4vw;
    height: auto;
    right: 4vw;
}

.title-card {
    position: absolute;
    top: 8vh;
    right: 10vw;
    font-family: 'Assistant', sans-serif;
    font-size: 5.5vmin;
    color: #000000;
    font-weight: bold;
    z-index: 20;
    direction: rtl;
}

.divuachSystem {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 18vh;
    width: 70vw;
}

.buttons-bar-CardReport {
    z-index: 20;
    position: absolute;
    top: 85vh;
    left: 3vw;
}