.tape-div6 {
    position: absolute;
    top: 9vh;
    left: 13vw;
    width: 74vw;
    height: 6vh;
    background-color: #b4ddd4;
    z-index: 800;
}

.MivnePikud {
    position: absolute;
    height: auto;
    width: 65%;
    right: 50%;
    transform: translateX(50%);
    top: 25vh;
    z-index: 20;
}

/* כפתור סיום */
.buttons-bar-note6 {
    z-index: 20;
    position: relative;
    top: 83vh;
    left: 15vw;
}