.tape7 {
    right: 69vw;
    top: 3vh;
    width: 4.8vw;
}

.maaneMivzaim {
    position: absolute;
    height: auto;
    width: 40%;
    right: 50%;
    transform: translateX(50%);
    top: 24vh;
    z-index: 20;
}

/* כפתור סיום */
.buttons-bar-note7 {
    z-index: 20;
    position: relative;
    top: 83vh;
    left: 15vw;
}