@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Karantina:wght@300;400;700&display=swap');
@import url(" https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");


.main-logo {
  position: absolute;
  top: 2vh;
  right: 2vw;
  width: 4.5%;
  z-index: 2000;
  cursor: pointer;
}

.main-logo:hover {
  transform: scale(1.05);
}

/* ----------------------------כפתורים------------------------------------ */


.btn-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
  width: 5vw;
  text-align: center;
}

.btn-text:hover {
  transform: scale(1.05);
}

.img-arrow {
  width: 5vmin;
  height: 5vmin;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 5vw;
}

.btn-text-next .img-arrow {
  transform: rotate(90deg);
}

.btn-text-prev .img-arrow {
  transform: rotate(270deg);
}

.btn-text-end .img-arrow {
  transform: rotate(90deg);
}

.text-label {
  font-size: 2.2vmin;
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  position: relative;
  right: 50%;
  transform: translateX(50%);
}